<%- include("../templates/encabezado.ejs") %>
<%- include("../templates/menu.ejs") %>

<div class="container mt-5">
    <form action="/editarUsuario" method="post">
        <div class="card">
            <div class="card-header">
                <h1>Modificar usuario</h1>
            </div>
            <div class="card-body">
                <input class="form-control mt-3" type="text" name="nombre" id="nombre" placeholder="Nombre" value="<%= usuario.nombre %>" autofocus>
                <input class="form-control mt-3" type="text" name="usuario" id="usuario" placeholder="Usuario" value="<%= usuario.usuario %>">
                <input class="form-control mt-3" type="text" name="password" id="password" placeholder="Password" value="<%= usuario.password %>">
                <input class="form-control mb-3" type="file" name="foto" id="foto">
                <img src="/images/<%= usuario.foto %>" width="100px" alt="Foto Actual">
            </div>
            <div class="card-footer">
                <button class="form-control btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>

<%- include("../templates/pie.ejs") %>
